---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contact">
  <div class="contact-page">
   
    <p>If you have any questions or would like to get in touch, please fill out the form below. Your message will be sent directly to my email.</p>
    <form action="https://formspree.io/f/xyzgyvyn" method="POST" class="contact-form">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <label for="message">Message:</label>
      <textarea id="message" name="message" rows="4" required></textarea>
      <button type="submit">Send</button>
    </form>
  </div>

  <style>
    .contact-page {
      max-width: 600px;
      margin: auto;
      padding: 1rem;
    }
    .contact-form {
      display: flex;
      flex-direction: column;
    }
    .contact-form label {
      margin-top: 1rem;
    }
    .contact-form input,
    .contact-form textarea {
      margin-top: 0.5rem;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    .contact-form button {
      margin-top: 1rem;
      padding: 0.75rem;
      border: none;
      border-radius: 4px;
      background-color: #007BFF;
      color: white;
      font-size: 1rem;
      cursor: pointer;
    }
    .contact-form button:hover {
      background-color: #0056b3;
    }
  </style>
</BaseLayout>
